

/* color palletes 
#DEF2F1; light blue
#3AAFA9 bluegreen
#FEFFFF WHITE 
*/

body{
  height: 100vh;
}

.navbar, a {
  background-color: #3AAFA9 !important; 
  color: white !important;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  height: 40vh;
}

.form-group{
  width: 40%; 
  height: 250px;
  max-width: 950px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  text-align: left;
  background-color: #FEFFFF;
  
}

.directions{
  width: 50px;
  height:190px;
  background-color: #FEFFFF;
}

label{
  margin-bottom: 10px;
 
}



.nav-brand, a{
  margin-left: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica;
   
}

.output-container {
  width: 40%;
  max-width: 950px;
  height: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #FEFFFF;
}

.output {
  color: #333;
  font-size: 16px;
  padding: 10px;
}

.translator {
  margin: auto;
  width: 80%; 
  height: 200px;
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #FEFFFF;
 
}

.translate {
  color: #333;
  font-size: 16px;
  padding: 10px;
}




